SECRET_KEY=change-me-to-a-long-random-secret
DEBUG=False
ALLOWED_HOSTS=avtomod.by,www.avtomod.by,45.128.205.77
CSRF_TRUSTED_ORIGINS=https://avtomod.by,https://www.avtomod.by
SQLITE_PATH=/app/data/db.sqlite3
STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
